@model Hair_Dressing_Appointments_MVC.Models.HairDressingOption

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HairDressingOption</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OptionName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OptionName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Charge)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Charge)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-outline-info" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index" class="btn btn-outline-info">Back to List</a>
</div>
