@model IEnumerable<Hair_Dressing_Appointments_MVC.Models.HairDressingOption>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-info">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OptionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Charge)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OptionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Charge)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-outline-info" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" class="btn btn-outline-info" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" class="btn btn-outline-info" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
